.task-class {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 0px 30px;
    margin: 20px 10px;


}

#text-id {
    margin-right: auto;
}

#time-id {

    margin-right: 5%;
}